
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}
.container{
  width: 1170px;
  margin:auto
}
.top-wrapper{
  background-image: url(https://previews.123rf.com/images/sotnichenko/sotnichenko1706/sotnichenko170600618/80545069-%E3%83%B4%E3%82%A3%E3%83%B3%E3%83%86%E3%83%BC%E3%82%B8%E5%A3%81%E7%B4%99%E3%81%AE%E6%9C%A8%E8%A3%BD%E7%B4%A0%E6%9D%90%E8%83%8C%E6%99%AF.jpg);
  text-align: center;
  background-size: cover;
  height: 500px;
  padding-top:100px; 
}
.top-wrapper h1{
  color: white;
  font-size: 40px;
}
.top-wrapper p{
  color: white;
  font-size: 20px;
}
.btn{
  color: white;
  padding:8px 20px ;
  display: inline-block;
  border-radius: 4px;
  opacity: 0.8;
  cursor: pointer;
}
.btn:hover{
  opacity: 1;
}
.signup{
  background-color: green;
}
.facebook{
  background-color:#3b5998;
  margin-right: 20px;
}
.twitter{
  background-color: #55acee;
}
.instagram{
  background-color: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  margin-left: 20px;
}
.fa{
  margin-right: 5px;
}
header{
  height: 60px;
  background-color: rgb(156, 87, 221);
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}
.header-left{
  background-color: rgb(80, 74, 74);
  color: white;
  height: 60px;
  float: left;
  top: 30px;
  width: 100px;
}
.header-right{
  background-color: cadetblue;
  color: white;
  float: right;
  line-height: 60px;
  cursor: pointer;
  opacity: 0.7;
}
.header-right:hover{
  opacity: 1;
}
.lesson-wrapper{
  height: 200px;
  text-align: center;
  background-color:#f7f7f7;
}
.heading h2{
  padding-top:80px;
  font-weight: normal;
}
.lesson{
  float: left;
  width: 33%;
}
.lesson-icon{
  position: relative;
  color: black;
  background-color:#f7f7f7;
}
.lesson-icon p{
top: 32%;
position: absolute;
width: 100%;
font-size: 20px;
}
.text{
  width: 65%;
  display: inline-block;
}
.message-wrapper{
  height: 550px;
  text-align: center;
}
.message{
  background-color: #5dca88 ;
  box-shadow: 0 7px #1a7940;
  cursor: pointer;
  margin-top: 20px;
}
.message:active{
  box-shadow: none;
  top:7px;
  position: relative;
}
footer{
  height: 50px;
}
.footer-up{
  border-top: 1px solid #eee;
}

